.Main__button--new-movie {
  width: 20rem;
  height: 5rem;
  padding: 1rem;
  margin: 1rem;
  background: #e1d89f;
  border-radius: 1rem;
  cursor: pointer;
}
.Main__button--new-movie:hover {
  background-color: #d89216;
  transition: background-color 2s;
}
