.Main__inputModal {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.Main__button--new-movie {
  width: 20rem;
  height: 5rem;
  padding: 1rem;
  margin: 3rem;
  background: #e1d89f;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 20px;
}
.Main__button--new-movie:hover {
  background-color: #d89216;
  transition: background-color 2s;
}

.Main__movielist {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
}
