.InputModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 40%;
  height: 65%;
  top: 30%;
  left: 30%;
  background-image: linear-gradient(
      0deg,
      rgba(122, 190, 181, 0.9),
      rgba(114, 181, 176, 0.9),
      rgba(93, 158, 162, 0.9),
      rgba(73, 127, 140, 0.9),
      rgba(55, 93, 110, 0.9),
      rgba(40, 60, 78, 0.9),
      rgba(27, 34, 49, 0.9),
      rgba(16, 16, 30, 0.9),
      rgba(9, 6, 23, 0.9)
    ),
    url(./download.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  border-radius: 2rem;
}
.InputModal {
  /* background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(162, 122, 190, 1) 50%,
    rgba(253, 187, 45, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(157, 132, 132, 1) 0%,
    rgba(122, 190, 181, 0.8463760504201681) 50%,
    rgba(9, 6, 23, 0.7231267507002801) 100%
  );
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 3rem;
  padding-top: 2rem;
  position: absolute;
  border-radius: 4rem; */
}

.InputModal__btn--close {
  position: absolute;
  margin: 2rem;
  top: 2rem;
  right: 2rem;
  height: 4rem;
  width: 6rem;
  font-size: 18px;
}

.InputModal__search {
  height: 5rem;
  width: 50%;
  /* margin-bottom: 2rem; */
}

/* .InputModal__input {
  width: 80%;
  margin: 2rem;
} */
.NewMovieInput__btn--add {
  background: linear-gradient(
    90deg,
    rgba(157, 132, 132, 1) 0%,
    rgba(122, 190, 181, 0.8463760504201681) 50%,
    rgba(9, 6, 23, 0.7231267507002801) 100%
  );
  color: white;
  width: 50%;
  font-size: 1.8rem;
  height: 3rem;
  border-radius: 1.5rem;
  position: relative;
  left: 25%;
}
.InputModal__btn--close {
  background: rgba(38, 226, 195, 0.959);
  width: 10rem;
  height: 4.5rem;
  border-radius: 1.5rem;
}
.InputModal__btn--close:hover {
  background: rgba(22, 129, 111, 0.959);
  transition: 0.5s ease-in;
}
