/* ********* GENERAL STYLES */

.MovieDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 50%;
    top: 10%;
    left: 20%;
    background-image: linear-gradient(
        180deg,
        rgba(122, 190, 181, 0.9),
        rgba(114, 181, 176, 0.9),
        rgba(93, 158, 162, 0.9),
        rgba(73, 127, 140, 0.9),
        rgba(55, 93, 110, 0.9),
        rgba(40, 60, 78, 0.9),
        rgba(27, 34, 49, 0.9),
        rgba(16, 16, 30, 0.9),
        rgba(9, 6, 23, 0.9)
      ),
      url(./download.jpg);
    
      background-size: cover;
      background-position: center;
      background-color: var(--color-background);
    padding: 1rem;
    border-radius: 2rem;
    min-width: 25rem;
    justify-content: center;
    margin: auto;
    z-index: 100;
  }
  
  .NewMovieInput__btn--add {
    background: linear-gradient(
      90deg,
      rgba(157, 132, 132, 1) 0%,
      rgba(122, 190, 181, 0.8463760504201681) 50%,
      rgba(9, 6, 23, 0.7231267507002801) 100%
    );
    color: white;
    width: 50%;
    font-size: 1.8rem;
    font-family: var(--font-sans-serif);
    height: 3rem;
    border-radius: 1.5rem;
    position: relative;
    left: 25%;
  }
  

/* *************** MOVIE INFO STYLES ******************** */

.movie-attributes__poster-info {
    width: 100%;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .movie-attributes {
    position: relative;
    width: 100%;
    color: black;
    font-size: 1.2rem;
    font-family: var(--font-sans-serif);
    text-align: right;
    margin: 0.6rem;
  padding: 0.3rem;
    padding-left: 10rem;
  
    background-color: var(--color-secondary);
    border: 1px solid black;
    border-radius: 5px;
  }

  .movie-attributes__category {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    height: 2.4rem;
    width: 9rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
    background-color: var(--color-background);
    color: white;
    text-align: left;
    border-radius: 5px;
    text-transform: uppercase;
  }

  .movie-attributes--title {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 800;
    color: white;
  }
  .movie-attributes--poster {
    min-width: 20rem;
    margin: 0.5rem;
  }
    
  .movie-attributes--imdb-and-watched {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .movie-attributes--watched {
    width: 15rem;
    background-color: var(--color-highlight);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.3rem 1rem;
  }

  .imdb-icon > a {
    color: gold !important;
    font-size: 4rem;
  }
  .movie-overview {
    width: 100%;
    color: black;
    font-size: 1.2rem;
    font-family: var(--font-sans-serif);
    text-align: right;
    margin: 0.3rem;
  padding: 0.3rem;
  background-color: var(--color-secondary);
    border: 1px solid black;
    border-radius: 5px;
  }
  
  /* ********* CLOSE BUTTON ************ */
  
  .InputModal__btn--close {
    background: rgba(38, 226, 195, 0.959);
    width: 11%;
    height: 4rem;
    border-radius: 1.5rem;
    position: absolute;
    z-index: 999;
    top: 2rem;
    right: 2rem;
    min-height: 3rem;
    min-width: 6rem;
  }
  .InputModal__btn--close:hover {
    background: rgba(22, 129, 111, 0.959);
    transition: 0.5s ease-in;
  }
    