.NewMovieInput {
    display: flex;
    flex-direction: column;
}

.NewMovieInput__input {
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: 1.6rem;
    margin: 0.2em 0;
}

.SearchResults {
    display: flex;
    position: absolute;
    top: 5rem;
    flex-direction: column;
    width: 15rem;
}

.SearchResult {
    width: 100%;
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border: 1px solid black;

}

.selected {
    background-color: grey;
}