.Sidebar {
  font-size: 2rem;
  height: 100vh;
  width: 50vh;
  align-items: center;
  background: #2f4f4f;
  display: flex;
}
.Sidebar__name {
  color: white;
  margin: 1rem 0;
  overflow: auto;
  font-stretch: ultra-condensed;
  text-align: center;
}

.movie-logo {
  background-image: url(./logos.jpeg);
  background-position: center;
  height: 10rem;
  width: 10rem;
  margin-top: 2rem;
  border-radius: 50%;
  display: flex;
  text-align: right;
}

/* h4 {
  color: white;
  margin: auto;
} */

.sidebar__navlink {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  position: relative;
}

/* .sidebar__navlink:hover {
  background-color: #064579;
} */

.sidebar-user {
  width: 100%;
  display: flex;
  padding-left: 2rem;
  align-items: center;
}
.sidebar-user:hover {
  background-color: #5ca08e;
  transition: 0.4s ease-out;
}

.navlink {
  text-decoration: none;
}
