* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

body {
  --color-primary: #50b7f5;
  --color-secondary: #e6ecf0;
  /* --color-highlight: 
  --color-background:   */
}

