* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  --color-primary: hsl(321, 76%, 10%);
  --color-background: hsl(201, 11%, 24%);
  --color-secondary: hsl(52, 52%, 75%);
  --color-highlight: hsl(38, 82%, 47%);
}
